:root {
  box-sizing: border-box;
  font-family: 'poppins';
}
*,*::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

#app {
  max-width: 1440px;
  margin-inline: auto;
}

.scene__container {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  /* background-color: aqua; */
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #7BACB2;
  position: sticky;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.hero, .about, .contact {
  height: 100vh;
}
.hero {
  /* background-color: cadetblue; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.about {
  /* background-color: bisque; */
}
.contact {
  /* background-color: blueviolet; */
}
.section {
  max-width: 500px;
  padding: 2em;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #C32F30;
}
p+p {
  margin-top: 1em;
}
p {
  color: #1D1E1E;
  /* color: #1C1D1D; */
}
footer {
  background-color: #7BACB2;
  text-align: center;
  padding: 1em;
}
footer a {
  text-decoration: underline;
  color: #C32F30;

}
@media (min-width: 992px) {

}
