:root {
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

#app {
  max-width: 1440px;
  margin-inline: auto;
}

.scene__container {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  /* background-color: aqua; */
  z-index: -1;
}
.hero, .about, .contact {
  height: 100vh;
}
.hero {
  /* background-color: cadetblue; */
}
.about {
  /* background-color: bisque; */
}
.contact {
  /* background-color: blueviolet; */
}
@media (min-width: 992px) {

}
